<!DOCTYPE html>
<html>
<head>
  <title>Monster Catch!</title>
  <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

  <!-- Leaflet Scripts -->
  <!-- <link rel="stylesheet" href="https://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" /> -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/leaflet.css">
  <!-- // <script src="https://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script> -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/leaflet.js"></script>
  <!-- Leaflet End -->

  <!-- Select2 Scripts -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
  <!-- Select2 End -->

  <!-- DatePicker Scripts -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.1/css/bootstrap-datepicker.min.css">
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.1/js/bootstrap-datepicker.min.js"></script>
  <!-- DatePicker End -->

  <!-- DateTimePicker Scripts -->
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker-standalone.min.css">
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.14.1/moment.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>
  <!-- DateTimePicker End -->

  <!-- Google Places Autocomplete -->
  <!-- // <script src="https://maps.googleapis.com/maps/api/js?sensor=false&libraries=places"></script> -->
  <!-- // <script src="https://maps.googleapis.com/maps/api/js?sensor=false&key=AIzaSyATtVyVk0zZaLY3r0lCAKE-nejzhnH77LE&libraries=places"></script> -->
  <!-- // <script src="libs/jquery.geocomplete.min.js"></script> -->

  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <div class="container">
    <h1>Welcome to Poke Catch!</h1>
    <h2>Where did you find it?</h2>

    <!-- <label>Longitude:</label>
    <input id="geo-long" placeholder="Long: 43.6532">

    <label for="geo-lat" >Lattitude:</label>
    <input id="geo-lat" class="form-control" placeholder="Lat: 79.3832">

    <button type="submit" id="locate-btn" class="btn btn-primary">Locate</button>
  </div> -->
  <div>
    <form class="form-horizontal">

      <div class="form-group">
        <label for="found-poke" class="col-sm-2 control-label">Pokemon:</label>
        <div class="col-sm-10">
          <!-- <input type="text" class="form-control" id="found-poke" placeholder="Blastoise" required> -->
          <!-- <select type="text" class="form-control" id="found-poke" placeholder="Blastoise" required> -->

          <select id="pokemon-input"></select>
        </div>
      </div>

      <div class="form-group">
        <label for="found-address" class="col-sm-2 control-label">Address/Landmark:</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="found-address" data-geo="formatted_address" placeholder="Central Park, NY" required>
          <!-- TODO: Google Places Auto Complete -->
        </div>
      </div>

      <div class="form-group">
        <label for="found-date" class="col-sm-2 control-label">Date & Time:</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="found-date">
        </div>
      </div>

      <!-- <div class="form-group">
        <label for="found-time" class="col-sm-2 control-label">Time:</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="found-time" placeholder="HH:mm PM">
        </div>
      </div> -->

      <div class="form-group">
        <label for="found-geo" class="col-sm-2 control-label">GeoLocation:</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="found-geo" value="32.800718499999995:-96.8241741" disabled>
        </div>
      </div>

      <div class="form-group">
        <label for="found-trainer-level" class="col-sm-2 control-label">Trainer Level:</label>
        <div class="col-sm-10">
          <input type="text" maxlength="2" class="form-control" id="found-trainer-level">
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
        <button onclick="getLocation()" type="button" class="btn btn-primary">Get Current Location</button>
        <button onclick="submitEntry()" type="button" class="btn btn-primary">Submit Find</button>
        </div>
      </div>
    </form>

  </div>
</div>

  <div class="container">
    <div id="map" style="height: 180px;"></div>
  </div>

</body>
<script>
  function getLocation () {
    console.log("looking...");
    navigator.geolocation
    .getCurrentPosition(function (geoObj) {
      console.log('location found!', geoObj);
      $('#found-geo').val(geoObj.coords.latitude + ":" + geoObj.coords.longitude);

    }, function (error) {
      console.error('location not found!', error);
    });
  }

  function submitEntry () {
    // var pokemon = $("#pokemon-input").val();
    var selection = $("#pokemon-input").select2('data');
    var location = $("#found-geo").val().split(":");

    console.log("Pokemon:", selection);

    var entry = {
      pokemon: selection,
      location: {
          latitude: location[0] || "",
          longitude: location[1] || ""
      },
      trainer_level: $("#found-trainer-level").val(),
      datetime: $("#found-date").val()
    }

    $.ajax({
        url: '/submit?entry=' + JSON.stringify(entry),
        type: 'POST',
        success: function(response) {
          console.log(response);
          // Set localStorage values for persistence of info
          localStorage.trainerLevel = $('#found-trainer-level').val();
        },
        error: function (error) {
          console.log("ERROR", error);
        }
    });
  }

  window.pokemon = [
    { "id":"001", "text":"Bulbasaur" },
    { "id":"002", "text":"Ivysaur" },
    { "id":"003", "text":"Venusaur" },
    { "id":"004", "text":"Charmander" },
    { "id":"005", "text":"Charmeleon" },
    { "id":"006", "text":"Charizard" },
    { "id":"007", "text":"Squirtle" },
    { "id":"008", "text":"Wartortle" },
    { "id":"009", "text":"Blastoise" },
    { "id":"010", "text":"Caterpie" },
    { "id":"011", "text":"Metapod" },
    { "id":"012", "text":"Butterfree" },
    { "id":"013", "text":"Weedle" },
    { "id":"014", "text":"Kakuna" },
    { "id":"015", "text":"Beedrill" },
    { "id":"016", "text":"Pidgey" },
    { "id":"017", "text":"Pidgeotto" },
    { "id":"018", "text":"Pidgeot" },
    { "id":"019", "text":"Rattata" },
    { "id":"020", "text":"Raticate" },
    { "id":"021", "text":"Spearow" },
    { "id":"022", "text":"Fearow" },
    { "id":"023", "text":"Ekans" },
    { "id":"024", "text":"Arbok" },
    { "id":"025", "text":"Pikachu" },
    { "id":"026", "text":"Raichu" },
    { "id":"027", "text":"Sandshrew" },
    { "id":"028", "text":"Sandslash" },
    { "id":"029", "text":"Nidoran♀" },
    { "id":"030", "text":"Nidorina" },
    { "id":"031", "text":"Nidoqueen" },
    { "id":"032", "text":"Nidoran♂" },
    { "id":"033", "text":"Nidorino" },
    { "id":"034", "text":"Nidoking" },
    { "id":"035", "text":"Clefairy" },
    { "id":"036", "text":"Clefable" },
    { "id":"037", "text":"Vulpix" },
    { "id":"038", "text":"Ninetales" },
    { "id":"039", "text":"Jigglypuff" },
    { "id":"040", "text":"Wigglytuff" },
    { "id":"041", "text":"Zubat" },
    { "id":"042", "text":"Golbat" },
    { "id":"043", "text":"Oddish" },
    { "id":"044", "text":"Gloom" },
    { "id":"045", "text":"Vileplume" },
    { "id":"046", "text":"Paras" },
    { "id":"047", "text":"Parasect" },
    { "id":"048", "text":"Venonat" },
    { "id":"049", "text":"Venomoth" },
    { "id":"050", "text":"Diglett" },
    { "id":"051", "text":"Dugtrio" },
    { "id":"052", "text":"Meowth" },
    { "id":"053", "text":"Persian" },
    { "id":"054", "text":"Psyduck" },
    { "id":"055", "text":"Golduck" },
    { "id":"056", "text":"Mankey" },
    { "id":"057", "text":"Primeape" },
    { "id":"058", "text":"Growlithe" },
    { "id":"059", "text":"Arcanine" },
    { "id":"060", "text":"Poliwag" },
    { "id":"061", "text":"Poliwhirl" },
    { "id":"062", "text":"Poliwrath" },
    { "id":"063", "text":"Abra" },
    { "id":"064", "text":"Kadabra" },
    { "id":"065", "text":"Alakazam" },
    { "id":"066", "text":"Machop" },
    { "id":"067", "text":"Machoke" },
    { "id":"068", "text":"Machamp" },
    { "id":"069", "text":"Bellsprout" },
    { "id":"070", "text":"Weepinbell" },
    { "id":"071", "text":"Victreebel" },
    { "id":"072", "text":"Tentacool" },
    { "id":"073", "text":"Tentacruel" },
    { "id":"074", "text":"Geodude" },
    { "id":"075", "text":"Graveler" },
    { "id":"076", "text":"Golem" },
    { "id":"077", "text":"Ponyta" },
    { "id":"078", "text":"Rapidash" },
    { "id":"079", "text":"Slowpoke" },
    { "id":"080", "text":"Slowbro" },
    { "id":"081", "text":"Magnemite" },
    { "id":"082", "text":"Magneton" },
    { "id":"083", "text":"Farfetch\'d" },
    { "id":"084", "text":"Doduo" },
    { "id":"085", "text":"Dodrio" },
    { "id":"086", "text":"Seel" },
    { "id":"087", "text":"Dewgong" },
    { "id":"088", "text":"Grimer" },
    { "id":"089", "text":"Muk" },
    { "id":"090", "text":"Shellder" },
    { "id":"091", "text":"Cloyster" },
    { "id":"092", "text":"Gastly" },
    { "id":"093", "text":"Haunter" },
    { "id":"094", "text":"Gengar" },
    { "id":"095", "text":"Onix" },
    { "id":"096", "text":"Drowzee" },
    { "id":"097", "text":"Hypno" },
    { "id":"098", "text":"Krabby" },
    { "id":"099", "text":"Kingler" },
    { "id":"100", "text":"Voltorb" },
    { "id":"101", "text":"Electrode" },
    { "id":"102", "text":"Exeggcute" },
    { "id":"103", "text":"Exeggutor" },
    { "id":"104", "text":"Cubone" },
    { "id":"105", "text":"Marowak" },
    { "id":"106", "text":"Hitmonlee" },
    { "id":"107", "text":"Hitmonchan" },
    { "id":"108", "text":"Lickitung" },
    { "id":"109", "text":"Koffing" },
    { "id":"110", "text":"Weezing" },
    { "id":"111", "text":"Rhyhorn" },
    { "id":"112", "text":"Rhydon" },
    { "id":"113", "text":"Chansey" },
    { "id":"114", "text":"Tangela" },
    { "id":"115", "text":"Kangaskhan" },
    { "id":"116", "text":"Horsea" },
    { "id":"117", "text":"Seadra" },
    { "id":"118", "text":"Goldeen" },
    { "id":"119", "text":"Seaking" },
    { "id":"120", "text":"Staryu" },
    { "id":"121", "text":"Starmie" },
    { "id":"122", "text":"Mr. Mime" },
    { "id":"123", "text":"Scyther" },
    { "id":"124", "text":"Jynx" },
    { "id":"125", "text":"Electabuzz" },
    { "id":"126", "text":"Magmar" },
    { "id":"127", "text":"Pinsir" },
    { "id":"128", "text":"Tauros" },
    { "id":"129", "text":"Magikarp" },
    { "id":"130", "text":"Gyarados" },
    { "id":"131", "text":"Lapras" },
    { "id":"132", "text":"Ditto" },
    { "id":"133", "text":"Eevee" },
    { "id":"134", "text":"Vaporeon" },
    { "id":"135", "text":"Jolteon" },
    { "id":"136", "text":"Flareon" },
    { "id":"137", "text":"Porygon" },
    { "id":"138", "text":"Omanyte" },
    { "id":"139", "text":"Omastar" },
    { "id":"140", "text":"Kabuto" },
    { "id":"141", "text":"Kabutops" },
    { "id":"142", "text":"Aerodactyl" },
    { "id":"143", "text":"Snorlax" },
    { "id":"144", "text":"Articuno" },
    { "id":"145", "text":"Zapdos" },
    { "id":"146", "text":"Moltres" },
    { "id":"147", "text":"Dratini" },
    { "id":"148", "text":"Dragonair" },
    { "id":"149", "text":"Dragonite" },
    { "id":"150", "text":"Mewtwo" },
    {"id":"151", "text":"Mew" }
  ];

  $("#pokemon-input").select2({
    data: window.pokemon,
    multiple: true,
    width: '100%'
  });

  // $('#found-date').datepicker({
  //   format: "mm-dd-yyyy",
  //   autoclose: true,
  //   defaultDate: new Date()
  // });

  $('#found-date').datetimepicker({
    // format: "mm-dd-yyyy",
    // autoclose: true,
    defaultDate: new Date()
  });

  if (localStorage && localStorage.trainerLevel) {
    console.log("Setting saved trainerLevel");
    $('#found-trainer-level').val(localStorage.trainerLevel);
  }

  // $('#found-address').change(function (value, more) {
  //   console.log(value, more);
  // })
// $(function(ready){

//     // $('#found-address').geocomplete()
//     // .bind("geocode:result", function(event, result){
//     //   console.log("Result: " + result.formatted_address);
//     // })
//     // .bind("geocode:error", function(event, status){
//     //   console.log("ERROR: " + status);
//     // })
//     // .bind("geocode:multiple", function(event, results){
//     //   console.log("Multiple: " + results.length + " results found");
//     // });

//     // $('#found-address').on('keydown', function() {
//     //     console.log("keydown");
//     //     $("#found-address").trigger("geocode");
//     // });
//     // $('#found-address').geocomplete();
//     $('#found-address')
//     .geocomplete()
//     .bind("geocode:result", function(event, result){
//       console.log(result);
//     });
// });

    

</script>
</html>
